/*Estilo general del body*/
body {
	border:1px solid red; 
}

/*Estilo primer párrafo*/
.margen {
	margin-top: 2em; 
	margin-right: 2em; 
	margin-bottom: 2em; 
	margin-left: 2em;
	border:1px solid #000;
	background-color:olive;
	text-align:justify;
	}

/*estilo segundo párrafo*/
.relleno {
	padding-top: 2em; 
	padding-right: 2em; 
	padding-bottom: 2em; 
	padding-left: 2em;
	border:1px solid #000;  
	background-color:orange;	
	text-align:justify;
	}
