#titulo{
    color: rgb(40, 112, 114);
}
strong{
    color: red;
}
.destacado{
    color: yellow;
}
#subtitulo{
    color: blue;
}
a{
    color: brown;
}
em{
    color: blue;
}
.especial{
    color: blueviolet;
}
caption{
    color: blue;
}
th.especial{
    color: goldenrod;
}
tfoot{
    color: red;
}
tbody{
    color: green;
}
tbody strong{
    color: gold;
}
td em {
    color: green;

}
th :scope{
    color: red;
}
table {
    border-collapse: collapse;
    border-color: black;
    border-radius: 1px;
  }
#adicional{
    color: olive;
}
#especial{
    color: purple;
}
#especial a{
    color: green;
}